*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/1000_F_321710306_h5jdGiQQtGyylQv8pojT3kDFSDViufgR.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.nav{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 9, 9, 0.525);
    /* opacity: 0.7; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
    /* opacity: 1; */
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    height: 35px;
    width: 110px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    /* display: none; */
}
.plus{
    /* border: 1px solid white; */
    padding-left: 2px;
    /* padding-top: 1px; */
    font-size: 20px;
    font-weight: 900;
}
#txt{
    border-right:1px solid white;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 12px; */
    /* padding-right: 5px; */
}
.add:hover{
    scale: 1.1;
    background-color: black;
    opacity: 0.8;
}
.nav-item{
    cursor: pointer;
}
.nav-item:hover{
    color: whitesmoke;
    scale: 1.1;
}
#log{
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    font-weight: 540;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: azure;
    color: blueviolet;
}
#log:hover{
    scale: 1.1;
    border-radius: 20px;
    border: 2px solid white;
    background-color: wheat;
    color:black;
}
.logo{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor:pointer;
}
.logo:hover{
    scale: 1.2;
}
form,#add-blog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 20px;

}
#login{
    display:none;
}
#signin{
    /* visibility: hidden; */
    display:none;

}
#span,#span1,#span2{
    color: red;
    /* z-index: 999 !important; */
    /* opacity: 1 !important; */
    font-size: 10px;
    font-weight: 700;
    margin: 5px;
    display: none;
}
#add-blog-cross,#cross-signin,#cross-login{
    text-align: center;
    /* border: 1px solid; */
    width: 20px;
    margin-left: 280px;
    cursor: pointer;
    font-weight: 900;
    color: white;
}
.signin-header,.login-header,.add-blog-header{
    font-size: 28px;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
    font-weight: 800;
}
.signin-input,.login-input,.blog-input{
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    /* align-items: center; */
}
.s-input,.input{
    margin: 10px;
}
input{
    width: 250px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 3px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 650;
}
label{
    margin-left:5px;
    color: white;
    opacity: 1;
    /* margin-bottom: 5px; */
    /* text-align: center; */
}
#btn{
    margin-top: 30px;
    height: 40px;
}

button{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    scale: 1.1;
}
#i-input{
    cursor: pointer;
    color: white;
}
.blog{
    font-size: 50px;
    letter-spacing: 5px;
    text-align:center;
    margin: 20px;
    color: white;
    /* position:sticky;
    top: 50px; */
}
#content{
    display: flex;
    flex-direction: column;
    width:100%;
}
.writing{
    /* width:100%; */
    height: 300px;
    /* overflow-y:scroll; */
    border: 5px solid grey;
    border-radius: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px;
    column-gap: 5px;
}
.text{
    width:calc(100vw - 450px);
    /* border: 2px solid; */
    border-radius: 25px;
    padding: 15px;
    /* margin: 1px; */
    background-color:black;
    opacity: 0.7;
    color: white;
    height:270px;
    /* text-wrap: wrap; */
    overflow-y:scroll;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
}
.text::-webkit-scrollbar{
    width: 10px;
    /* height: 200px; */
    /* background-color:grey ; */
    border-radius: 40px;
}

.img{
    width:450px;
    /* min-width: 350px; */
    height:300px;
    object-fit:cover;
    /* position: sticky; */
    top: 0;
}
img{
    width:inherit;
    height: inherit;
    border-radius: 25px;

}


textarea{
    width: 250px;
    height: 70px;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid grey;
    border-radius: 20px;
}
#blog-submit{
    height: 40px;
    margin:20px ;
}
#add-blog{
    display: none;
}



/* @media (max-width:650px) and (min-width:320px)
{
    .main{
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .blog{
        position: sticky;
        top: 70px;
        border-bottom: 1px solid;
        z-index: 1000;
    }

    #content{
        flex-wrap:wrap;
        padding: 0;
    }

    .writing{
        width: inherit;
        height: auto;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0;
        padding: 0;
    }
    .text{
        width: 100%;
    }

    .img{
        width: inherit;
        /* position: ; */
    /* }
    img{
        /* width: inherit; */
    /* }
}   */

@media (max-width: 1024px) and (min-width: 768px) {
    .menu {
        width: 60%;
        padding: 20px;
    }

    .writing {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .menu {
        width: 70%;
        padding: 10px;
    }

    #txt {
        display: none;
    }
    .add{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    

    .writing {
        height: auto;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0;
    }

    .text {
        width: 100%;
        /* height: auto; */
    }

    .img {
        width: 100%;
        height: auto;
    }

    .logo {
        padding-left: 10px;
    }
}

@media (max-width: 480px) {
    .menu {
        width: 80%;
        padding: 5px;
    }
    .main{
        margin: 0;
    }
    
    .writing {
        width: 104%;
        height: auto;
        flex-wrap: wrap;
    }

    .text {
        width: 100%;
        /* height: auto; */
    }

    .img {
        width: 100%;
        height: auto;
    }

    .logo {
        padding-left: 5px;
    }
}
